<!--ADDS NAVIGATION BAR-->
<app-navigation></app-navigation>

<!--PURCHASE INNER CONTENT-->       
<!--HEADER CONTENTS-->
<div class= "container">
    <h1>Inventory: </h1>
    <!--TABLE CONTENTS-->
    <div class = "row">
        <div class = "column">
            <table class = "content-table">
                <thead>
                    <tr>
                        <th>Earring Name</th>
                        <th>Price</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sassy Strawberry Cowgirl</td>
                        <td>$20.00</td>
                        <td>SOLD</td>
                    </tr>  
                    <tr>
                        <td>Blueberry Sisters w/Cowprint</td>
                        <td>$20.00</td>
                        <td>SOLD</td>
                    </tr>  
                    <tr>
                        <td>Blueberry Cowgirl Gals</td>
                        <td>$20.00</td>
                        <td>SOLD</td>
                    </tr>  
                    <tr>
                        <td>Sassy Strawberry Cowgirls</td>
                        <td>$20.00</td>
                        <td>SOLD</td>
                    </tr>    
                    <tr>
                        <td>Strawberry Fields</td>
                        <td>$20.00</td>
                        <td>SOLD</td>
                    </tr>  
                    <tr>
                        <td>Sassy Melons</td>
                        <td>$20.00</td>
                        <td>SOLD</td>
                    </tr> 
                    <tr>
                        <td>Purple Fruity Queens</td>
                        <td>$20.00</td>
                        <td>SOLD</td>
                    </tr> 
                    <tr>
                        <td>The Orange Ladies</td>
                        <td>$20.00</td>
                        <td>SOLD</td>
                    </tr>  
                </tbody>
            </table>    
        </div>
        <div class = "column" style = "background-color:#ffe4e1;" >     
            <img src="./pictures/main_fruit_cowprint.jpeg" alt="Front of the Earrings" width="270"
                height="270">
            <br>
            <p2>
                Thank you for visiting our website. Because our jewelry is handmade, product inventory is updated based upon the pace at which the artist creates a new jewelry piece. For more information or for custom earring requests please contact us at linete.e999@gmail.com
            </p2>
            <br>     
            <p1>
                <a href="index.html" target = “ blank”>Click here to see our jewelry images.</a> 
            </p1>
        </div>
    </div>
</div>    

