<!--ADDS NAVIGATION BAR-->
<app-navigation></app-navigation>

<!--PURCHASE INNER CONTENT-->       
<table border = "20" cellpadding="10" cellspacing="0">
    <tr>
        <th></th>
        <th>Earring Name</th>
        <th colspan="2">Price</th>
        <th>Status</th>
    </tr>
    <tr>
        <td rowspan="8">First Launch Earrings</td>
        <td>Sassy Strawberry Cowgirl</td>
        <td>$</td>
        <td>20.00</td>
        <td>SOLD</td>
    </tr>  
    <tr>
        <td>Blueberry Sisters w/Cowprint</td>
        <td>$</td>
        <td>20.00</td>
        <td>SOLD</td>
    </tr>  
    <tr>
        <td>Blueberry Cowgirl Gals</td>
        <td>$</td>
        <td>20.00</td>
        <td>SOLD</td>
    </tr>  
    <tr>
        <td>Sassy Strawberry Cowgirls</td>
        <td>$</td>
        <td>20.00</td>
        <td>SOLD</td>
    </tr>    
    <tr>
        <td>Strawberry Fields</td>
        <td>$</td>
        <td>20.00</td>
        <td>SOLD</td>
    </tr>  
    <tr>
        <td>Sassy Melons</td>
        <td>$</td>
        <td>20.00</td>
        <td>SOLD</td>
    </tr> 
    <tr>
        <td>Purple Fruity Queens</td>
        <td>$</td>
        <td>20.00</td>
        <td>SOLD</td>
    </tr> 
    <tr>
        <td>The Orange Ladies</td>
        <td>$</td>
        <td>20.00</td>
        <td>SOLD</td>
    </tr>  
</table>
<br>

