<!--ADDS NAVIGATION BAR-->
<app-navigation></app-navigation>

<!--HEADER CONTENT-->  
<div class = "container" >
    <h1> Inventory: </h1>
    <!--TABLE CONTENT--> 
    <div class = "row">
        <div class = "column">
            <table class = "content-table">
                <thead>
                    <tr>
                        <th>Earring Name</th>
                        <th>Price</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sassy Strawberry Cowgirl</td>
                        <td>$20.00</td>
                        <td>SOLD</td>
                    </tr>  
                    <tr>
                        <td>Blueberry Sisters w/Cowprint</td>
                        <td>$20.00</td>
                        <td>SOLD</td>
                    </tr>  
                    <tr>
                        <td>Blueberry Cowgirl Gals</td>
                        <td>$20.00</td>
                        <td>SOLD</td>
                    </tr>  
                    <tr>
                        <td>Sassy Strawberry Cowgirls</td>
                        <td>$20.00</td>
                        <td>SOLD</td>
                    </tr>    
                    <tr>
                        <td>Strawberry Fields</td>
                        <td>$20.00</td>
                        <td>SOLD</td>
                    </tr>  
                    <tr>
                        <td>Sassy Melons</td>
                        <td>$20.00</td>
                        <td>SOLD</td>
                    </tr> 
                    <tr>
                        <td>Purple Fruity Queens</td>
                        <td>$20.00</td>
                        <td>SOLD</td>
                    </tr> 
                    <tr>
                        <td>The Orange Ladies</td>
                        <td>$20.00</td>
                        <td>SOLD</td>
                    </tr>  
                </tbody>
            </table>
        </div>
        <div class = "column" style = "background-color:#ffe4e1;" >     
            <img src="assets/pictures/main_fruit_cowprint.jpeg" alt="Front of the Earrings" width="270"
                height="270">
            <br>
            <p>
                Thank you for visiting our website. Because our jewelry is handmade, product inventory is updated based upon the pace at which the artist creates a new jewelry piece. For more information or for custom earring requests please contact us at linete.e999@gmail.com
            </p>
            <br>           
        </div>
    </div>
</div>     
