<!--ADDS NAVIGATION BAR-->
<app-navigation></app-navigation>

<!--ABOUT INNER CONTENT-->       
<div class= "container">

    <div class = "two-column-wrapper">
        <div class = "profile-image-wrapper">
            <img src="./pictures/E20FEB68-DAAC-4CB8-85C0-3B60D49D1A8B.jpeg" alt="Front of the Earrings" width="500"
            height="400">
        </div>
        <div class="profile-content-wrapper">
            <h1>About me: </h1>
            <p>
                paragraph # 1 will go here
            </p> 
        </div>
    </div>

    <p>
        <a href="https:www.google.com" target = “ blank”>This takes you to google</a> This is where paragraph #2 will go 
    </p>

    <br>

    <h3>Lin Earrings</h3>  
        <h4>Earrings for sale by Lin</h4>
        <img src="./pictures/E20FEB68-DAAC-4CB8-85C0-3B60D49D1A8B.jpeg" alt="Front of the Earrings" width="500"
        height="400">

        <br>

        <img src="./pictures/90B1834F-F674-41E5-A230-5FA1AA5F6170.jpeg" alt="Back of the Earrings" width="500"
        height="400">

    <br>

    <ul>
        <li>strawberry</li>
        <li>orange</li>
        <li>watermelon</li>
        <li>blueberry</li>
        <li>lemon</li>
        <li>grapes</li>
        <li>banana</li>
    </ul> 
    
    <br>
</div>   