<!--ADDS NAVIGATION BAR-->
<app-navigation></app-navigation>

<!--ABOUT INNER CONTENT-->       
<div class= "container">
    <div class = "two-column-wrapper">
        <div class = "profile-image-wrapper">
            <img src="./assets/pictures/main_fruit_cowprint.jpeg" alt="Front of the Earrings" width="400"
            height="400">
        </div>
        <div class="profile-content-wrapper">
            <h1>About me: </h1>
            <p>
                Linearrings is based in Austin, Tx and specializes in handmade jewelry, specifically earrings, with colorful sassy fruits painted on top. All jewelry is shaped using polymer clay as the base and painted using acrylic paints. Surgical Steel gold hooks are used in the earrings to be comfortable, irritation-free and safe for the wearer. Earrings come in a range of styles. Available earring shapes are flower, circle, rectangle, and square. Earrings can be custom made with any fruit. Most common fruits used are listed below :) 
            </p> 
        </div>
    </div>
        <!-- <p>
            <a href="https:www.google.com" target = “ blank”>Click Here To Check Out Our Instagram! :) </a> 
        </p> -->
        <img src="./assets/pictures/main_fruit.jpeg" alt="Front of the Earrings" width="400"
        height="400">
        <br>
        <img src="./assets/pictures/main_fruit_back.jpeg" alt="Back of the Earrings" width="400"
        height="400">
        <br>
        <h2>Common Fruits for Earrings:</h2>
        <ul>
            <li>strawberry</li>
            <li>watermelon</li>
            <li>orange</li>
            <li>banana</li>
            <li>lime</li>
            <li>blueberry</li>
            <li>grapes</li>
        </ul>   
    <br>
</div>        