<!--NAVIGATION BAR-->
<div class= "nav-wrapper">
    <div class="left-side">
        <div class= "nav-link-wrapper">
            <a href="index.html">Home</a>
        </div>   

        <div class= "nav-link-wrapper">
            <a routerLink="/about" routerLinkActive="active">About</a>
        </div> 

        <div class= "nav-link-wrapper">
            <a routerLink="/purchase" routerLinkActive="active">Purchase</a>
        </div>    
    </div>

    <div class = "right-side">
        <div class = "brand">
            <div>LIN EARRINGS</div>
        </div> 
    </div>       
</div>